<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="resizer" type="ImageResizer.ResizerSection" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!--<add name="dbHashbrownCoEntities" connectionString="metadata=res://*/HashbrownCoModel.csdl|res://*/HashbrownCoModel.ssdl|res://*/HashbrownCoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IMPACTWORKS-PC\HASHBROWN;initial catalog=dbHashbrownCo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="dbHashbrownCoEntities" connectionString="metadata=res://*/HashbrownCoModel.csdl|res://*/HashbrownCoModel.ssdl|res://*/HashbrownCoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=hashbrownco.db.3969924.hostedresource.com; Database=hashbrownco; Uid=hashbrownco;pwd=Password1!;integrated security=false;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>

  </connectionStrings>
  <appSettings>
    <add key="AdminUserName" value="admin"/>
    <add key="AdminPassword" value="password"/>
    <add key="BlogAdminUserName" value="admin"/>
    <add key="BlogAdminPassword" value="blog1122"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="admin_email" value="connect@hashbrown.in"/>
     <add key="admin_pwd" value="H@shbrown"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <trust level="Full" />
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5"/>

    <httpRuntime targetFramework="4.5" requestPathInvalidCharacters="" requestValidationMode="2.0"
             maxRequestLength="2147483647" useFullyQualifiedRedirectUrl="true" executionTimeout="1000000" />

    <httpModules>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
    </httpModules>
    <pages validateRequest="false" enableEventValidation="false"></pages>
      
  </system.web>

  <system.codedom>
    <compilers>
      <!--<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>-->
    </compilers>
  </system.codedom>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
    <staticContent>

      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />

      <remove fileExtension=".woff" />
      <remove fileExtension=".eot" />
      <remove fileExtension=".ttf" />
      <remove fileExtension=".svg" />

      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".ttf" mimeType="application/font-sfnt" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
    </modules>
    <httpErrors errorMode="Custom">
      <error statusCode ="500" path ="/Error500.aspx" responseMode="ExecuteURL"/>
      <error statusCode ="404" path ="/Error404.aspx" responseMode="ExecuteURL"/>
    </httpErrors>
    <asp scriptErrorSentToBrowser="true"/>
  </system.webServer>
</configuration>